# Auto detect text files and perform LF normalization
* text=auto

# Scripts shell doivent avoir LF
*.sh text eol=lf

# Fichiers source
*.rs text
*.py text
*.toml text
*.md text
*.txt text

# Binaires
*.rpm binary
*.whl binary
*.tar.gz binary
*.tgz binary
*.zip binary
*.so binary
*.a binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary


